:root {
    --naranja: #ed373d;
    --naranja-medio: #db5640;
    --naranja-claro: #de784f;
    --violeta: #942687
}
.btn,
.form-control {
    border-radius: .5rem
}

.bg-naranja,
.btn-naranja {
    background-color: var(--naranja)
}

.bg-naranja-claro,
.btn-naranja-claro{
    background-color: var(--naranja-claro)
}

.bg-naranja-medio,
.btn-naranja-medio{
    background-color: var(--naranja-medio)
}

body {
    font-family: Inter, sans-serif;
    padding-top: 76px
}

html {
    scroll-behavior: smooth
}

.navbar {
    padding: 1rem 0
}

.card {
    transition: transform .3s
}

.card:hover {
    transform: translateY(-5px)
}

.btn {
    padding: .75rem 1.5rem
}

.form-control {
    padding: .75rem
}

section {
    padding: 7rem 0
}

.portfolio-card img {
    object-fit: cover;
    width: 100%
}

.badge {
    padding: .5rem 1rem;
    border-radius: 2rem
}

.lucide {
    width: 24px;
    height: 24px
}

.icon-lg {
    width: 48px;
    height: 48px
}

.plans h5 {
    font-size: 1rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center
}

#services .card-body {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-left: 2px solid var(--naranja) !important;
}

#services .card {
    border-radius: 10px;
}

.text-naranja {
    color: var(--naranja)
}

.btn-naranja {
    color: #fff;
    border: 1px solid var(--naranja)
}

.bg-violeta,
.btn-violeta {
    background-color: var(--violeta)
}

.text-violeta {
    color: var(--violeta)
}

.btn-violeta {
    color: #fff;
    border: 1px solid var(--violeta)
}

.pulse {
    transition: color 3s linear
}
